Repository microsoft/ebpf-for-windows, pull requests merged in 2023-06, with the labels that each got.

#2523 Add epoch sandwich and related comments.
  libs/execution_context/ebpf_native.c
Labels: cleanup

#2518 stress test for tail calls
  installer/Product.wxs
  scripts/deploy-ebpf.ps1.in
  tests/bpf2c_tests/elf_bpf.cpp
  tests/bpf2c_tests/expected/bindmonitor_mt_tailcall_dll.c
  tests/bpf2c_tests/expected/bindmonitor_mt_tailcall_raw.c
  tests/bpf2c_tests/expected/bindmonitor_mt_tailcall_sys.c
  tests/sample/bindmonitor_mt_tailcall.c
  tests/stress/km/stress_tests_km.cpp
  tests/stress/readme.md
Labels: tests

#2552 Fix double-load issue
  tests/stress/km/stress_tests_km.cpp
Labels: bug, tests

#2570 Add option to write bpf2c output directly to file
  tests/bpf2c_tests/elf_bpf.cpp
  tools/bpf2c/bpf2c.cpp
  tools/bpf2c/templates/kernel_mode_bpf2c.vcxproj
  tools/bpf2c/templates/user_mode_bpf2c.vcxproj
Labels: enhancement

#2593 Add batch invocation test for sample_ebpf_ext
  tests/sample/ext/app/sample_ext_app.cpp
  tests/sample/ext/drv/sample_ext.c
  tests/sample/ext/drv/sample_ext.h
  tests/sample/ext/drv/sample_ext_drv.c
  tests/sample/ext/inc/sample_ext_ioctls.h
Labels: enhancement, tests

#2628 Validate program type in ebpf_program_create
  libs/execution_context/ebpf_program.c
  libs/execution_context/ebpf_program.h
  libs/execution_context/unit/execution_context_unit_test.cpp
Labels: enhancement
